body{
    position: relative;
    /* background-color: rgb(53, 92, 110); */
    background-image: url(back-img.jpg);
    margin: 0px;
}
.form{
 
 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px auto;

}
h1{
    text-align: center;
    display: block;
    font-size: 50px;
    font-family: serif;
   
}
#fname, #lname{
    display: block;
    padding: 14px;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 33px;
 
}
button{
      padding: 14px;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #96b5c4;
}


